host,control,result
{{ inventory_hostname }},ISM-1506,{{ findings['ISM-1506'] }}
{{ inventory_hostname }},ISM-0484,{{ findings['ISM-0484'] }}
{{ inventory_hostname }},ISM-0485,{{ findings['ISM-0485'] }}
{{ inventory_hostname }},ISM-0580,{{ findings['ISM-0580'] }}
{{ inventory_hostname }},ISM-1405,{{ findings['ISM-1405'] }}
{{ inventory_hostname }},ISM-1983,{{ findings['ISM-1983'] }}
{{ inventory_hostname }},ISM-1984,{{ findings['ISM-1984'] }}
{{ inventory_hostname }},ISM-1985,{{ findings['ISM-1985'] }}
{{ inventory_hostname }},ISM-1815,{{ findings['ISM-1815'] }}
{{ inventory_hostname }},ISM-0988,{{ findings['ISM-0988'] }}
{{ inventory_hostname }},ISM-1139,{{ findings['ISM-1139'] }}
{{ inventory_hostname }},ISM-1453,{{ findings['ISM-1453'] }}
{{ inventory_hostname }},ISM-1369,{{ findings['ISM-1369'] }}
{{ inventory_hostname }},ISM-1374,{{ findings['ISM-1374'] }}
{{ inventory_hostname }},ISM-1375,{{ findings['ISM-1375'] }}
{{ inventory_hostname }},ISM-1553,{{ findings['ISM-1553'] }}
{{ inventory_hostname }},ISM-1707,{{ findings['ISM-1707'] }}
{{ inventory_hostname }},ISM-1708,{{ findings['ISM-1708'] }}
{{ inventory_hostname }},ISM-1515,{{ findings['ISM-1515'] }}
{{ inventory_hostname }},PATCHING,{{ findings['PATCHING'] }}
{{ inventory_hostname }},EOL,{{ findings['EOL'] }}
